In [ ]:

range(10)

range(0, 10)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
L=[1,2,3,4,5]
L

[1, 2, 3, 4, 5]

In [ ]:
#Agregar elemento a lista
L.append(32)
L

[1, 2, 3, 5, 32, 32, 32]

In [ ]:
#Quitar elemeno a lista
L.remove(4)
L

[1, 2, 3, 5, 32]

## Listas por comprensi√≥n

In [ ]:
#Tipo
type([])

list

In [ ]:
#Cardinalidad de Conjunto
len([])

0

In [ ]:
len([2,4,6,8])

4

In [ ]:
#Haces una lista de un rango de 1-99
Pares=[i for i in range(1,100)]
Pares

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
imPares=[i for i in range(1,101) if i%2==1]
imPares

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
#Condicional de un objeto
Pares=[i for i in range(1,101) if i%2==0]
Pares

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

##M√≥dulo Numpy

In [ ]:
#Importas la libreria Numpy
import numpy as np

In [ ]:
#Muestas un numero aleatorio de 0-9
np.random.randint(10)

0

In [ ]:
np.random.randint(1,102,5)

array([78, 49, 31, 85, 89])

In [ ]:
np.random.randint(1,11,100)

array([ 7,  5,  8,  1,  3,  5,  6,  2, 10,  7,  3,  2,  8,  7,  8,  1,  4,
        1,  6,  4,  4,  2,  7,  4,  2,  5,  1,  6,  2,  4, 10,  3,  6, 10,
        8,  9,  1,  1,  5,  3, 10,  2,  3,  6,  7,  5,  1,  1,  5, 10,  4,
        6,  2, 10,  8,  7,  5,  1,  9,  8,  7,  5,  7,  2,  4, 10,  9,  4,
       10,  8,  1,  5,  1,  2,  2,  6,  3,  1,  4,  3,  5,  2,  7,  8,  3,
        2,  5,  6,  8,  1,  2, 10,  8, 10,  1,  1,  7,  5,  5,  9])

In [ ]:
Pares=[i for i in np.random.randint(1,11,100) if i%2==0]
Pares

[10,
 8,
 6,
 4,
 8,
 4,
 8,
 8,
 4,
 2,
 8,
 6,
 2,
 10,
 4,
 8,
 6,
 2,
 6,
 2,
 4,
 2,
 4,
 4,
 10,
 8,
 4,
 2,
 4,
 6,
 8,
 6,
 10,
 4,
 10,
 10,
 2,
 6,
 4,
 8,
 2,
 6,
 2,
 6,
 8,
 2,
 10,
 4,
 10,
 6,
 2,
 2,
 2,
 8,
 4,
 2,
 10,
 4]